<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Modifiez le message de la carte</title>
    <link rel="stylesheet" href="style/edit_style.css">
</head>
<body>
    <div class="main_wrapper">
        <section class="edit_section">

            <?php if (isset($_SESSION["ERROR"])): ?>
                <p class="error">
                    <?php echo $_SESSION["ERROR"]; ?>
                </p>
                <?php unset($_SESSION["ERROR"]); ?>
            <?php endif ?>

            <?php if (isset($_SESSION["INFO"])): ?>
                <p class="info">
                    <?php echo $_SESSION["INFO"]; ?>
                </p>
                <?php unset($_SESSION["INFO"]); ?>
            <?php endif ?>

            <?php if (!isset($_SESSION["logged"])): ?>
                <form method="POST">
                    <ul>
                        <li>
                            <label for="password">Le mot de passe ? </label>
                            <input type="password" name="password" id="password "/>
                        </li>
                        <li class="submit">
                            <input type="hidden" name="login" />
                            <input type="submit" value="Connexion" />
                        </li>
                    </ul>
                </form>
                <a href="index.html">Retour à la carte</a>

            <?php else: ?>
                <form method="POST">
                    <ul>
                        <li>
                            <label for="message">Le message : </label>
                            <textarea name="message" id="message"><?php echo $message; ?></textarea>
                        </li>
                        <li class="submit">
                            <input type="hidden" name="edit_message" />
                            <input type="submit" value="Modifier" />
                        </li>
                    </ul>
                </form>

                <a href="edit.php?action=deco">Déconnexion</a>
                <a href="index.html">Retour à la carte</a>
            <?php endif ?>
        </section>
    </div>
</body>
</html>